{% extends 'layout.html' %}

{% block title %}Your Trip{% endblock %}

{% block content %}
       <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Trip Planner</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
               
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
        </nav>

        <div class="row" id="search-menu">
            <div class="col-md-12">
                <div class="form-group col-md-3">
                  <label for="hotels-select">Select a Hotel</label>
                    <select id="hotels-select" class="form-control">
                      <option>select</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                  <label for="restaurants-select">Select a Restaurant</label>
                    <select id="restaurants-select" class="form-control">
                      <option>select</option>
                    </select>
                </div>     
                <div class="form-group col-md-3">
                  <label for="activity-select">Select an Activity</label>
                    <select id="activity-select" class="form-control">
                      <option>select</option>
                    </select>
                </div>     
                <div class="form-group col-md-3">
                  <label for="restaurants-select">All Places</label>
                    <select id="restaurants-select" class="form-control">
                      <option>select</option>
                    </select>
                </div>                                                                     
            </div>
            <div class="row" id="map-section">
                <div class="col-md-12">
                    <iframe id="googleMap" width="100%" height="500px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=sedona%2C%20az&key=AIzaSyDAh9_n9UbzUcuI9kTvCSsZzQ_0Rs9A7kY" allowfullscreen></iframe>
                </div>  
            </div>
           
{% endblock %}