{% extends 'layout.html' %}

{% block title %}Your Trip{% endblock %}

{% block content %}
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand navbar-left" id="trip-planner-main-link" href="index.html">Trip Planner</a>
    </div>
    <!-- /.navbar-header -->

    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div><!--/.nav-collapse --> 
</nav>

<div class="row" id="app">
    <div class="col-md-8" id="map-section">
        <div id="googleMap"></div>
    </div>
    <div class="col-md-4" id="side-bar">
        <div class="row selector">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="hotels-select">Select a Hotel</h4>
                    <div class="form-group col-md-12">
                        <select id="hotels-select" class="form-control">
                            <option>select</option>
                            <option>select</option>
                        </select>
                        <a class="form-add" href="#"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>
                    </div>
                    <h4 class="restaurants-select">Select a Restaurant</h4>
                    <div class="form-group col-md-12">
                        <select id="restaurants-select" class="form-control">
                            <option>select</option>
                            <option>select</option>
                        </select>
                        <a class="form-add" href="#"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>
                    </div> 
                    <h4 class="activity-select">Select a Activity</h4>
                    <div class="form-group col-md-12">
                        <select id="activity-select" class="form-control">
                            <option>select</option>
                            <option>select</option>
                        </select>
                        <a class="form-add" href="#"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>
                    </div>
                </div>
            </div><!-- /panel -->
        </div><!-- row -->
        <div class="row plans">
            <h3>Day 2</h3>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <nav class="schedule">
                        <button class="btn btn-default">1</button>
                        <button class="btn btn-default active">2</button>
                        <button class="btn btn-default">3</button>
                        <button class="btn btn-default">+</button>
                    </nav>
                </div>
                <div class="panel-body info">
                    <h4>My Hotel</h4>
                    <ul class="my-hotel">
                        <li><span class="info-item">Hotel name</span><a class="form-remove" href="#"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></a></li>
                    </ul>
                    <h4>My Restaurants</h4>
                    <ul class="my-restaurants">
                        <li><span class="info-item">Restaurant name</span><a class="form-remove" href="#"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></a></li>
                        <li><span class="info-item">Another restaurant name</span><a class="form-remove" href="#"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></a></li>
                    </ul>
                    <h4>My Activites</h4>
                    <ul class="my-activity">
                        <li><span class="info-item">First activity name</span><a class="form-remove" href="#"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></a></li>
                        <li><span class="info-item">Second activity name</span><a class="form-remove" href="#"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
</div><!-- /plans -->

</div>                                                                     
</div>


{% endblock %}