<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/img/trip-planner-logo.svg">

    <title>Trip Planner - {% block title %}{% endblock %}</title>

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400,500" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">


  </head>

  <body>
    
    {% block content %}{% endblock %}	

    <script>
   function initMap() {
        // Styles a map in night mode.
        var map = new google.maps.Map(document.getElementById('googleMap'), {
          center: {lat: 40.674, lng: -73.945},
          zoom: 12,
          styles: [
            {
              "featureType": "landscape",
              "elementType": "geometry.fill",
              "stylers": [
                {
                  "color": "#e4e2e0"
                }
              ]
            },
            {
              "featureType": "poi",
              "elementType": "geometry.fill",
              "stylers": [
                {
                  "color": "#cdd1cc"
                }
              ]
            },
            {
              "featureType": "poi.park",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#07889b"
                }
              ]
            },
            {
              "featureType": "road",
              "elementType": "labels.icon",
              "stylers": [
                {
                  "saturation": -70
                }
              ]
            },
            {
              "featureType": "road.highway",
              "elementType": "geometry.fill",
              "stylers": [
                {
                  "color": "#e37222"
                }
              ]
            },
            {
              "featureType": "road.highway",
              "elementType": "geometry.stroke",
              "stylers": [
                {
                  "color": "#e37222"
                }
              ]
            },
            {
              "featureType": "water",
              "elementType": "geometry.fill",
              "stylers": [
                {
                  "color": "#61b5ba"
                }
              ]
            }
          ]
        });
      }
      initMap();
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAh9_n9UbzUcuI9kTvCSsZzQ_0Rs9A7kY&callback=initMap"
    async defer></script>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <script src="/js/app.js"></script>

  </body>
</html>


