/* TYPOGRAPHY */

* {
  font-family: 'Fira Sans Condensed', sans-serif;
}

/* COLOR SCHEME */

$light-grey: #eef0f0;
$tangerine: #E37222;
$teal: #07889B;
$powder: #66B9BF;
$tan: #EEAA7B;

/* BROWSER RESET */
 
html,
body {
    margin: 0;
    padding: 0;
}

/* CUSTOM STYLES */

body {
  background-color: #f8f8f8;
  overflow: hidden;
}

.info li {
  padding:5px;
}
.info li:hover {
  background: #f1f1f1;
}


.row {
    margin-right: 0px;
}

/* style the Trip Planner text logo*/
.navbar-brand {
  font-size: 18pt;
  width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;  
}

.navbar-right {
  margin-right: 5px;
}

#wrapper {
  width: 100%; }

#page-wrapper {
  padding: 0 !important;
  background-color: white;
  line-height: 0px; }

.navbar-top-links {
  margin-right: 0; }

.navbar-top-links li {
  display: inline-block; }

.navbar-top-links li:last-child {
  margin-right: 15px; }

.navbar-top-links li a {
  padding: 15px;
  min-height: 50px; }

.navbar-top-links .dropdown-menu li {
  display: block; }

.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0; }

.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0; }

.navbar-top-links .dropdown-menu li a div {
  white-space: normal; }

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0; }

.navbar-top-links .dropdown-messages {
  margin-left: 5px; }

.navbar-top-links .dropdown-tasks {
  margin-left: -59px; }

.navbar-top-links .dropdown-alerts {
  margin-left: -123px; }

.navbar-top-links .dropdown-user {
  right: 0;
  left: auto; }

.panel {
    margin-bottom: 0;
}

.selector {
  margin-top: 10px;
}

.form-group {
  display: inline-block;
}

.form-control {
  width: 90%;
  float: left;
}

.form-control>select,
.form-control.form-add {
  display: inline-block;
}

.form-control>select {
  float: left;
}

.form-add {
  color: $teal;
  float: right;
  line-height: 32px;
  span {
    font-size: 1.5em;
    line-height: 32px;
  }
}

.form-add:hover {
  color: $powder;
}

.form-remove {
  margin-right: 20px;
  color: $tangerine;
  float: right;
}

.form-remove:hover {
  color: $tan;
}

#search-menu {
  background: #f8f8f8;
  height: 100px;
  padding: 15px;
  position: relative;
  z-index: 100;
}

#map-section {
  position: relative;
  z-index: 1; 
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    background-color: $tangerine;
    border-color: $tan;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    background-color: $tan;
    border-color: $tangerine;
}

.btn-default:hover {
    background-color: $tan;
    border-color: $tangerine;
}

#trip-planner-main-link::before {
    content: url("/img/trip-planner-logo.svg");
    display: inline-block;
    width: 1em;
    margin-right: 0.5em;
    top: 10px;

}



